@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";




:root {
  font-family: system-ui, 'Roboto', Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family:'Roboto', sans-serif;
}
input {
  color: #201E1E;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {

}
@layer utilities{
  @keyframes loading {
    0%{
      transform: translateX(-100%)
    }
    100%{
      transform: translateX(250%);
    }
  }
  .animate-loading-bar{
    animation: loading 0.8s ease infinite;
  }
}
